@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
  margin:0;
  font-family: 'Poppins', sans-serif;
  color: #454242;
   background-color: #c1e4e8;
}

h1, #description {
  text-align: center;
}

#survey-form {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #e8f9fa;
  padding: 3rem;
  border-radius: 15px;
  border-color: #4f4d4d;
}

.question {
  font-weight: bold;
}
.form-control {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
}

.input-container {
  padding: 30px 0px 0px 0px;
}
#dropdown {
  width: 100%;
}

.input-checkbox {
  display: block;
}

#comments-area {
  width: 100%;
  border-radius: 10px;
  height: 10rem;
}

.button-holder {
display: flex;
justify-content: space-between;
}

#submit {
  background-color: #2394a1; 
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  margin-top: 3rem;
  margin-right: 40%;
  width: 20%;
  text-decoration: none;
  border-radius: 10px;

}

#reset {
    border: none;
    background: none;
    margin-top: 3rem;
    text-decoration: underline;
}



